@model List<ContractViewModel>

<h1>Contract</h1>

<hr />



@*<a class="btn btn-primary" asp-controller="Product" asp-action="Create">Add New</a>*@
<br />





@if (Model.Any())
{
    <br />
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Customer.FullName</th>
            <th>Price</th>
            <th>Car.CarNumber</th>
            <th>EndDate</th>
           
        </tr>

        @foreach (var ContractViewModel in Model)
        {
            <tr>
                <th>@ContractViewModel.Id</th>
                <th>@ContractViewModel.Customer.FullName</th>
                <th>@ContractViewModel.Price</th>
                <th>
                    <img class="img-fluid" width="100" src="~/Images/@ContractViewModel.ImageUrl" />
                </th>
                <th>@ContractViewModel.Car.CarNumber</th>
                <th>@ContractViewModel.EndDate</th>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-warning">
        No Data in our database !
    </div>
}